package router

import (
	api "github.com/linbaozhong/gentity/pkg/api/iris"
	_ "{{.ModulePath}}/internal/handler"
)

func Init(port string) *api.Server {
	_app := api.NewApplication("{{.ModulePath}}", "0.1")

	_v1 := api.NewParty(_app, "/v1")
	// 注册路由
	api.RegisterRouter(_v1)

	if port[0] != ':' {
		port = ":" + port
	}
	return api.NewServer(app, port)
}
