package main

import (
"context"
"fmt"
"github.com/linbaozhong/gentity/pkg/app"
"github.com/linbaozhong/gentity/pkg/log"
"os"
"os/signal"
"syscall"
"{{.ModulePath}}/internal/router"
"{{.ModulePath}}/internal/service"
"time"
)

func main() {
_port := ":8080"
// 命令行指定端口
if len(os.Args) > 1 {
_port = os.Args[1]
}

log.Register(false)
log.Info(fmt.Sprintf("%s %s %s 服务开启中...", "{{.ModulePath}} Api", "0.1", _port))

// 启动前置服务
Prepare()
// 启动路由服务
srv := router.Init(_port)

// 监听系统信号，实现优雅停止
go func() {
quit := make(chan os.Signal, 1)
signal.Notify(quit, syscall.SIGINT, syscall.SIGTERM)
<-quit

log.Fatal(fmt.Sprintf("%s %s %s 服务已关闭", "abc Api", "0.1", _port))

// 给正在处理的请求 5 秒钟的时间完成
ctx, cancel := context.WithTimeout(context.Background(), 5*time.Second)
defer cancel()
// 关闭其他服务
Finished()
// 优雅关闭
srv.Shutdown(ctx)
}()

// 启动服务
if err := srv.Run(); err != nil {
log.Error(err)
}
}


// Prepare 系统启动所需要的必须服务
func Prepare() {
// 连接数据库
service.Connected()
// 启动所有代理服务
app.Launch()
}

// Finished 系统关闭后结束所有其他的服务
func Finished() {
// 关闭所有代理服务
app.Close()
}
