package service

import (
	"github.com/linbaozhong/gentity/pkg/ace"
	"github.com/linbaozhong/gentity/pkg/log"
	"sync"
)

var (
	db       *ace.DB
	openOnce sync.Once
)

func Open() error {
	openOnce.Do(func() {
		var e error
		db, e = ace.Connect("mysql",
			"user:password@tcp(0.0.0.0:3306)/dbname?charset=utf8mb4&parseTime=True&loc=Local")
		if e != nil {
			log.Fatal(e)
		}
		db.SetMaxOpenConns(50)
		db.SetMaxIdleConns(25)
		db.SetDebug(true)
	})
	return nil
}

func GetDB() *ace.DB {
	return db
}
