package lib

import (
	"github.com/linbaozhong/gentity/pkg/ack/iris"
	"{{.ModulePath}}/internal/constant"
)

func AuthMiddleware() ack.Handler {
	return func(c ack.Context) {
		token := c.GetHeader(constant.Authorization)
		if token == "" {
			ack.Fail(c, constant.ErrAuthorizationNotFound)
			return
		}
		c.Next()
	}
}
