<script setup>
    /**
     * @typedef {import('../shared/{{ lower .Entity }}.js').{{.StructName}}} {{.StructName}}
     */
    import { t } from '@/i18n'
    const props = defineProps({
        value: {type: Object, default: () => ({})},
    })
</script>

<template>
	<dl class="detail-list">
        {{ range .Columns }}{{ if not (isSlice .) }}
			<div class="detail-item">
				<dt>{{ "{{" }} t('{{$.Entity}}.{{.Json.Name}}') {{ "}}" }}</dt>
				<dd>{{ "{{" }} value.{{.Json.Name}} {{ "}}" }}</dd>
			</div>
        {{ end }}{{ end }}  </dl>
</template>
