<script setup>
    /**
     * @typedef {import('../shared/{{ lower .Entity }}.js').{{.StructName}}} {{.StructName}}
     */
    import { t } from '@/i18n'
    import { {{ lower .StructName }}, {{ lower .StructName }}Rules } from '../shared/{{ lower .Entity }}.js'

    const props = defineProps({
        mode: {type: String, default: 'create'},
        modelValue: {type: Object, default: () => ({})},
    })
    const emit = defineEmits(['submit', 'cancel'])

    async function submit() {
        await {{ lower .StructName }}(props.modelValue)
        emit('submit', props.modelValue)
    }
    function cancel() {
        emit('cancel')
    }
</script>

<template>
	<form @submit.prevent="submit">
        {{ range .Columns }}
			<div class="form-item">
				<label>{{ "{{" }} t('{{$.Entity}}.{{.Json.Name}}') {{ "}}" }}</label>
				<input v-model="modelValue.{{.Json.Name}}"/>
			</div>
        {{ end }}
		<div class="form-actions">
			<button type="submit">{{ "{{" }} t('{{$.Entity}}.submit') {{ "}}" }}</button>
			<button type="button" @click="cancel">{{ "{{" }} t('{{$.Entity}}.cancel') {{ "}}" }}</button>
		</div>
	</form>
</template>
