<script setup>
    /**
     * @typedef {import('../shared/{{ lower .Entity }}.js').{{.StructName}}} {{.StructName}}
     */
    import { t } from '@/i18n'
    import { {{ lower .StructName }}, {{ lower .StructName }}Rules } from '../shared/{{ lower .Entity }}.js'

    const props = defineProps({
        mode: {type: String, default: 'create'},
        modelValue: {type: Object, default: () => ({})},
    })
    const emit = defineEmits(['submit', 'cancel'])

    async function submit() {
        await {{ lower .StructName }}(props.modelValue)
        emit('submit', props.modelValue)
    }
    function cancel() {
        emit('cancel')
    }
</script>

<template>
	<view class="fe-form">
        {{ range .Columns }}
			<view class="form-item">
				<text>{{ "{{" }} t('{{$.Entity}}.{{.Json.Name}}') {{ "}}" }}</text>
				<input v-model="modelValue.{{.Json.Name}}"/>
			</view>
        {{ end }}
		<view class="form-actions">
			<button type="primary" @click="submit">{{ "{{" }} t('{{$.Entity}}
				.submit') {{ "}}" }}</button>
			<button @click="cancel">{{ "{{" }} t('{{$.Entity}}.cancel') {{ "}}" }}</button>
		</view>
	</view>
</template>
