<script setup>
    /**
     * @typedef {import('../shared/{{ lower .StructName }}.types.js').{{.StructName}}} {{.StructName}}
     */
    import {{{lower

    .StructName
    }
    }
    Columns
    }
    from
    './{{ toPascal .StructName }}Columns.js'

    const props = defineProps({
        data: {type: Array, default: () => []},
        loading: {type: Boolean, default: false},
    })
    const emit = defineEmits(['action'])
</script>

<template>
	<table class="data-table">
		<thead>
		<tr>
			<th v-for="col in {{ lower .StructName }}Columns" :key="col.key">{{ "{{" }} t(col.titleKey) {{ "}}" }}</th>
			<th>{{ "{{" }} t('{{$.Entity}}.actions') {{ "}}" }}</th>
		</tr>
		</thead>
		<tbody>
		<tr v-for="row in data" :key="row.{{ toPkName . }}">
			<td v-for="col in {{ lower .StructName }}Columns" :key="col.key">{{ "{{" }} row[col.key] {{ "}}" }}</td>
			<td>
				<slot name="actions" :row="row">
					<button @click="emit('action', { type: 'edit', row })">{{ "{{" }} t('{{$.Entity}}
						.edit') {{ "}}" }}</button>
					<button @click="emit('action', { type: 'delete', row })">{{ "{{" }} t('{{$.Entity}}
						.delete') {{ "}}" }}</button>
				</slot>
			</td>
		</tr>
		</tbody>
	</table>
</template>
